:root {
  --skin-color: #fb839e;
  --bg-black--900: #000000;
  --bg-black--100: #dddddd;
  --bg-black--50: #eff0f4;
  --text-black-900: #000000;
  --text-black-700: #555555;
  --text-black-300: #666666;
  --text-black-600: #bbbbbb;

  --outer-shadow: 3px 3px 3px #d0d0ed, inset -3px -3px -3px #f8f8f8;
  --inner-shadow: inset 3px 3px 3px #d0d0d0, inset -3px -3px -3px #f8f8f8;
}

/* ----------custom css variable for dark theme------ */

body {
  font-size: 16px;
  line-height: 1.5;
  overflow-x: hidden;
  background-color: var(--bg-black--50);
}

*:not(i) {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
:before,
:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  vertical-align: middle;
  width: 100%;
}

.startImg {
  position: fixed;
  width: 12%;
  margin-left: 400px;
  margin-top: 124px;
}
.start-text {
  position: fixed;
  margin-top: 277px;
  /* margin-right: 400px; */
  margin-left: 365px;
}

.start-text h3 {
  text-align: center;
}

.start-text h3 .span1 {
  color: red;
}

.start-text h3 .span2 {
  color: #000000;
}

.start_btn {
  border: 1px solid;
  position: fixed;
  background: rgb(193 41 7);
  margin-left: 374px;
  margin-top: 334px;
  border-radius: 41px;
  width: 16%;
  padding: 13px;
  color: whitesmoke;
}

.collBtn{

}

.navImgDIv {
  width: 34px;
}

.navImg {
  width: 44%;
}

/* ----login */
.logInImg {
  width: 18%;
  margin-left: 185px;
  margin-top: 170px;
}

.loginImgDIv{
  width: 90px;
  border-radius:50% ;
  margin: auto;
  background: azure;
}

.signupImgDIv{
  width: 90px;
  border-radius:50% ;
  margin: auto;
}

.signupImgDIv img{

}

.loginImgDIv img{
  width: 100%;
  border-radius: 50%;
}
.loginFom{
  width: 400px;
  background: azure;
  box-shadow: 0px 0px 7px 3px black;
}

.googlebtn{
  width: 210px;
  background: white;
  color: black;
  margin-left: 15%;
  border: 0px solid;
  box-shadow: 0px 2px 4px black;
}

.googlebtn img{
  width: 6%;
  margin-right: 10px;
}

.loginButtn{
  background-color: rgb(172, 0, 0);
  color: white;
  margin-left: 30%;
  width: 125px;
  box-shadow: 0px 3px 3px black;
}

.carousalItem {

  /* margin-left: 79px; */
}

.carousalImgDiv{
  padding: 8px;
  height: 168px;
}

.carousalImgDiv img{
  
  border-radius: 35px;
  position: relative;
  width: 100%;
  height: 160px;

}

.carousaldiv ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.carousel-indicators{
  visibility: hidden;
}

.list {
  float: left;
}

.checkEmailDiv{
  width: 500px;
  background: #cccccc;
  margin: auto;
  margin-top: 190px;
  padding: 70px;
  box-shadow: 0px 2px 10px;
}

.list img {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 92px;
}

.Campaign h1 {
  text-align: center;
  margin-top: 3px;
}

.Menu {
  text-align: center;
  margin-top: 30px;
}
.card {
  width: 16rem;
  background: transparent;
  margin-left: 48px;
  border: none;
}

.cardImg {
  border-radius: 50%;
  width: 40%;
  margin-left: 72px;
  border: 2px solid darkred;
}

.cardText {
  text-decoration: none;
  text-align: center;
  color: black;
  font-weight: bold;
  margin-left: 74px;
}

.cardBadge {
  border-radius: 50%;
  position: absolute;
}

.Requests {
  text-align: center;
  margin-top: 30px;
}


/* Home */

.postDiv {
  width: 100%;
}

/*............. PROFILE.............. */

.profileDIv {
  background-color: white;
  margin-top: 40px;
width: 70%;
  border-radius: 35px;
  box-shadow: 0px 2px 10px;
}

.UserprofileDIv{
  background-color: white;
  margin-top: 8px;
width: 70%;
  border-radius: 35px;
  box-shadow: 0px 2px 10px;
}


.UserprofileimgDiv{
  margin-top: 70px;
}

.profileimgDiv{
  margin-top: 70px;
}

.profileimgDiv img {
  display: inline-block;

  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #fff;
  box-shadow: 0 2px 6px #0003;
}


.UserprofileimgDiv img{
  display: inline-block;

  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #fff;
  box-shadow: 0 2px 6px #0003;
}

.editProfileBtn {
  margin-top: 35px;
  width: 50%;
  margin-left: 145px;
  background-color: rgb(172, 0, 0);
  color: white;
  border-radius: 25px;
}

.editProfileForm {
  margin-top: 20px;
  padding: 20px;
  background: rgb(13, 35, 45);

  padding-top: 55px;
}

/* .profileimgDiv img {
  width: 100%;
  height: 100%;
  margin-left: 75px;
  position: relative;
  object-fit: cover;
} */

.profileList {
  font-size: 16px;
  color: #6b0f00;
  font-weight: bold;
}

.gifDiv {
  width: 55px;
  position: absolute;
  top: 282px;
  left: 119px;
}
.gifDiv img {
  width: 100%;
}
.bloodGroupDiv {
  margin-left: 60px;
 
}

.bloodGroupDiv h1 {
  color: darkred;
  font-weight: bold;
}

.profileNameDiv {

}

.profileInfoDiv {
  background: #eff0f4;
  width: 230px;
  border-bottom-left-radius: 56px;
  padding: 34px;
  margin-top: 80px;
  box-shadow: 0px 2px 10px;
}
.profileInfoDiv p {
  padding: 25px;
}


.UserprofileInfoDiv{
  background: #eff0f4;

  border-bottom-left-radius: 56px;
  padding: 34px;
  margin-top: 80px;
  box-shadow: 0px 2px 10px;
}

.infoTag {
  margin-top: 38px;
}

.editProfile {
  position: absolute;
  right: 24px;
  top: 42px;
  text-decoration: none;
}

.limitText {
  margin-left: 35px;
  margin-top: 22px;
}

.limitBadge {
  margin-left: -32px;
  margin-top: -9px;
  width: 31px;
  font-size: 26px;
  color: whitesmoke;
  background: darkred;
}

.editDonation {
 
  text-decoration: solid;
}

.editDonationInfo {
  background: white;
  width: 28%;
  padding: 23px;
  margin-top: 65px;
  border-radius: 30px;
  position: fixed;
  box-shadow: 0px 4px 10px;
}

/* -----------login---------- */

.loginInput {
  width: 90%;
  border-radius: 30px;
  margin: auto;
}

.loginGifDiv {
  width: 140px;
  position: absolute;
  top: 90px;
  left: 150px;
}

.login-text {
  position: fixed;
  margin-top: 240px;
  /* margin-right: 400px; */
  margin-left: 112px;
}

.login-text h3 {
  text-align: center;
  font-weight: bold;
}

.login-text h3 .span1 {
  color: rgb(172, 0, 0);
  font-weight: bold;
}

.login-text h3 .span2 {
  color: #000000;
  font-weight: bold;
}

.loginBtn {
  background-color: rgb(172, 0, 0);
  color: white;
}

/* ------signup------ */

.signupBtn {
  background-color: rgb(172, 0, 0);
  color: white;
  margin-left: 33%;
  width: 130px;
  border-radius: 25px;
}

.donorHeadingDIV {
  margin-top: 55px;
}

.donorHeadingDIV .tag1 {
  font-size: 36px;
}

.donorHeadingDIV .tag2 {
  margin-left: 115px;
  font-size: 38px;
}

.donorHeadingDIV .tag3 {
  margin-bottom: 10px;
  margin-left: 8px;
}

.donorsGifDiv{
  width: 23%;
    margin: auto;
    margin-top: 100px;
}

.donors-text{

}

.donors-text h3 .span1 {
  color: rgb(172, 0, 0);
  font-weight: bold;
}

.donors-text h3 .span2 {
  color: #000000;
  font-weight: bold;
}

.donorSearchBtn {
  margin-left: 49px;
  width: 135px;
  border-radius: 20px;
  background-color: rgb(172, 0, 0);
  color: #bbbbbb;
}

/*  ------------- */

.DonorSearchcard {
  box-shadow: 0px 4px 10px;
  margin-top: 20px;

}

.searchDonorsProfile{

}

.requestDonateBtn{
  font-size: 10px;
}

.Donor_Search_card_img {
  display: inline-block;
  width: 160px;
  height: 160px;
  margin: auto;
  object-fit: cover;
  border: 4px solid #fff;
  box-shadow: 0 2px 6px #0003;
}

.donorsSelectCity {
  width: 100%;
  border-radius: 30px;
}

.donorAreaSelect{
  width: 100%;
}

.card {
  position: relative;
  width: 260px;
}

.card .friend_card_img {
  display: inline-block;
  position: relative;
  max-width: 100%;
  height: 178px;
  object-fit: cover;
}

/* Donation_Info */

.Donation_info_Div_profile{
  background: black;
  width: 250px;
  height: 90px;
  padding: 18px;
  border-radius: 35px;
  color: white;
}



.Donation_info_Div {
  background: black;
  width: 90%;
  padding: 18px;
  border-radius: 35px;
  color: white;
}

.Donation_info_Div :hover{
box-shadow: 0px 2px 10px;
}

.frineds_card {
  width: 18rem;
  border: 1px solid;
  margin: 20px;
  box-shadow: 2px 2px 8px;
}

/* .postSection{
  width: 42%;
  margin-left: 265px;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 3px 2px 6px black;
  margin-top: 25px;
  margin-bottom: 5px;
} */

.postSection {
  width: 100%;
  max-width: 98rem;
  padding: 5rem;
  background: whitesmoke;
  box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, 0.2);
  align-items: center;
  border-radius: 0.8rem;
  display: flex;
}

.home_post_img{
  width: 230px;

  transform: translateX(-8rem);
  position: relative;
}

.home_post_img img{
  width: 100%;

  object-fit: cover;
  display: block;
  border-radius: 0.8rem;
}

.post_img {
  width: 230px;
  height: 9rem;
  transform: translateX(-8rem);
  position: relative;
}

.post_img img {
  width: 100%;

  object-fit: cover;
  display: block;
  border-radius: 0.8rem;
}

.post_img::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0.5rem 0.5rem 3rem 1px rgba(0, 0, 0, 0.05);
  border-radius: 0.8rem;
}

.post_date span {
  display: block;
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  font-weight: 680;
  margin: 0.5rem 0;
}

.postUserName {
  font-size: 2.5rem;
  margin: 1.5rem 0 2rem;
  text-transform: uppercase;
  color: #4facfe;
}

.post_Info {
  width: 100%;
  height: 258px;
  margin-left: -95px;
}

.postCaption {
  margin-bottom: 3rem;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
}

.addPostBtn {
  border-radius: 25px;
  width: 327px;
  background: black;
  text-decoration: none;
  border: 1px solid;

}

.notImageDiv {
  width: 19%;
}

.viewResponsBtn {
  width: 24%;
  height: 27px;
  font-size: 16px;
  border: 1px;
  color: brown;
}

.commentImgDiv{
  width: 10%;
}

.commentImgDiv img{
  border-radius: 50%;
}

.commentDate{
  margin-top: -19px;
  font-size: 9px;
}

.commentUserNameDiv{
  padding-left: 8px;
}

.commentDiv p{
  margin-left: 62px;
    margin-top: -14px;
}


@media screen and (min-width: 771px) and (max-width: 1023px){
  .list img{

  }

  .collBtn{
    height: 200px;
    align-items: center;
  }

  .list{
    width: 30%;
  }


}

@media screen and (min-width: 481px) and (max-width: 770px){
  .editProfile{
    
    top: 30px;

  }
  .collBtn{
    height: 200px;
    align-items: center;
  }

  .profileInfoDiv{
    width: 100%;
    margin-top: 12px;
  }

  .profileInfoDiv ul {
    
  }
  .infoList{
    margin-top: 310px;
  }
  .editDonationInfo{
    width: 55%;
  }

  .profileInfoDiv ul li {
    font-size: 18px;
  }

  .cardImg{
    margin-left: 50px;
  }
  .cardText{
    margin-left: 50px;
  }
  .viewResponsBtn{
    font-size: 11px;
    width: 25%;
  }
  .carousalItem{

  }

}

@media screen and (min-width: 320px)  and (max-width: 480px){
  .profileList{
    font-size: 12px;
    font-weight: bold;
  }

  .collBtn{
    height: 200px;
    align-items: center;
  }
  .UserprofileimgDiv img{
    width: 100px;
    height: 100px;
  }

  .userprofileNameDiv h4{
    font-size: 15px;
    margin-top: 5px;
  }

  .gifDiv{

    width: 50px;
    position: absolute;
    /* top: 282px; */
    left: 55px;

  }

  .post_date span{
    font-size: 12px;
  }

  .post_img{
    
  }
  .post_Info{
    width: 160px;
  }

  .profileInfoDiv{
    width: 100%;
    margin-top: 12px;
  }

  .profileInfoDiv ul {

  }

  .profileInfoDiv ul li {
    font-size: 14px;
  }
  .carousalItem{
    margin-left: 35px;
  }

  .cardImg{
    margin-left: 50px;
  }

  .cardText{
    margin-left: 50px;
  }

  .home_post_img{
    width: 138px;
  }

  .posUserName h3{
    font-size: 16px;
  }
  .viewResponsBtn{
    font-size: 10px;
    width: 48%;
  }
}
